@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Segoe UI",
    Roboto,
    system-ui,
    sans-serif;
  /* -webkit-font-smoothing: antialiased; tailwind 의 antialiased 로 대체
  -moz-osx-font-smoothing: grayscale; */
}